-- ================================================
--  Employee Payroll Database Script
--  Author: Görkem Tok
--  Description: 
--  Full database schema, seed data, and procedures 
--  for Employee Payroll API project.
-- ================================================

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'EmployeePayroll')
BEGIN
    PRINT 'Database [EmployeePayroll] not found. Creating...';
    CREATE DATABASE [EmployeePayroll];
    PRINT 'Database [EmployeePayroll] created successfully.';
END
ELSE
BEGIN
    PRINT 'Database [EmployeePayroll] already exists. Skipping creation.';
END
GO

PRINT 'Initializing schema...';
GO

USE [EmployeePayroll]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[LastName] [nvarchar](150) NOT NULL,
	[IdentityNumber] [nvarchar](11) NULL,
	[EmployeeTypeId] [int] NOT NULL,
	[Salary] [decimal](18, 2) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeType]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeType](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EmployeeType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OvertimeEntries]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OvertimeEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Hours] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_OvertimeEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkEntries]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_WorkEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [IdentityNumber], [EmployeeTypeId], [Salary], [CreatedAt], [UpdatedAt]) VALUES (1, N'Görkem', N'Tok                                                                                                                                                   ', N'54658032104', 1, CAST(100.00 AS Decimal(18, 2)), CAST(N'2025-11-05T00:55:34.143' AS DateTime), NULL)
INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [IdentityNumber], [EmployeeTypeId], [Salary], [CreatedAt], [UpdatedAt]) VALUES (2, N'Ece', N'Tok                                                                                                                                                   ', N'54658032105', 1, CAST(100.00 AS Decimal(18, 2)), CAST(N'2025-11-05T00:55:46.747' AS DateTime), NULL)
INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [IdentityNumber], [EmployeeTypeId], [Salary], [CreatedAt], [UpdatedAt]) VALUES (3, N'Ceyda', N'Tok                                                                                                                                                   ', N'11111111111', 3, CAST(1000.00 AS Decimal(18, 2)), CAST(N'2025-11-05T12:57:31.943' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[EmployeeType] ([Id], [Name]) VALUES (1, N'Fixed Salary')
INSERT [dbo].[EmployeeType] ([Id], [Name]) VALUES (2, N'Daily Wage')
INSERT [dbo].[EmployeeType] ([Id], [Name]) VALUES (3, N'Fixed + Overtime')
GO
SET IDENTITY_INSERT [dbo].[OvertimeEntries] ON 

INSERT [dbo].[OvertimeEntries] ([Id], [EmployeeId], [Date], [Hours]) VALUES (2, 3, CAST(N'2025-11-05T11:37:51.937' AS DateTime), CAST(5.00 AS Decimal(9, 2)))
INSERT [dbo].[OvertimeEntries] ([Id], [EmployeeId], [Date], [Hours]) VALUES (3, 3, CAST(N'2025-11-06T11:37:51.937' AS DateTime), CAST(5.00 AS Decimal(9, 2)))
INSERT [dbo].[OvertimeEntries] ([Id], [EmployeeId], [Date], [Hours]) VALUES (4, 3, CAST(N'2025-11-07T11:37:51.937' AS DateTime), CAST(5.00 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[OvertimeEntries] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkEntries] ON 

INSERT [dbo].[WorkEntries] ([Id], [EmployeeId], [Date]) VALUES (1, 1003, CAST(N'2025-11-05' AS Date))
INSERT [dbo].[WorkEntries] ([Id], [EmployeeId], [Date]) VALUES (4, 1003, CAST(N'2025-11-06' AS Date))
INSERT [dbo].[WorkEntries] ([Id], [EmployeeId], [Date]) VALUES (5, 1003, CAST(N'2025-11-04' AS Date))
SET IDENTITY_INSERT [dbo].[WorkEntries] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_EmployeeType] FOREIGN KEY([EmployeeTypeId])
REFERENCES [dbo].[EmployeeType] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_EmployeeType]
GO
ALTER TABLE [dbo].[OvertimeEntries]  WITH CHECK ADD  CONSTRAINT [FK_OvertimeEntries_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[OvertimeEntries] CHECK CONSTRAINT [FK_OvertimeEntries_Employee]
GO
ALTER TABLE [dbo].[WorkEntries]  WITH CHECK ADD  CONSTRAINT [FK_WorkEntries_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[WorkEntries] CHECK CONSTRAINT [FK_WorkEntries_Employee]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddOvertimeEntry]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*********************************************************************************
    Procedure: sp_AddOvertimeEntry
    Author: Görkem Tok
    Description: Çalışanın belirli bir tarihteki fazla mesai kaydını ekler.
                 Aynı güne ait kayıt varsa tekrar eklenmez.
    Created: 2025-11-04
**********************************************************************************/
CREATE   PROCEDURE [dbo].[sp_AddOvertimeEntry]
    @EmployeeId INT,
    @WorkDate DATETIME,
    @Hours DECIMAL(9,2)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IsSuccess BIT;
    DECLARE @Message NVARCHAR(500);

    BEGIN TRY
        -- Çalışan var mı kontrolü
        IF NOT EXISTS (SELECT 1 FROM Employee WHERE Id = @EmployeeId)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Geçersiz çalışan bilgisi!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

		-- Çalışan tipi çalıştığı extra mesai saatleri kaydını eklemeyi destekliyor mu kontrolü
		IF (SELECT EmployeeTypeId FROM Employee WHERE Id = @EmployeeId) != 3
		BEGIN
			SET @IsSuccess = 0;
            SET @Message = N'Çalışan tipi mesai saati kaydı eklemeyi desteklememektedir!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
		END

        -- Aynı güne ait kayıt var mı?
        IF EXISTS (SELECT 1 FROM OvertimeEntries WHERE EmployeeId = @EmployeeId AND CAST([Date] AS DATE) = CAST(@WorkDate AS DATE))
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Bu çalışana ait bu tarihte zaten bir fazla mesai kaydı mevcut!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        -- Saat kontrolü
        IF @Hours <= 0
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Fazla mesai saati sıfırdan büyük olmalıdır!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        -- Kayıt ekleme işlemi
        INSERT INTO OvertimeEntries (EmployeeId, [Date], [Hours])
        VALUES (@EmployeeId, @WorkDate, @Hours);

        SET @IsSuccess = 1;
        SET @Message = N'Fazla mesai kaydı başarıyla eklendi.';
        SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
    END TRY

    BEGIN CATCH
        SET @IsSuccess = 0;
        SET @Message = N'Kayıt eklenirken hata oluştu: ' + ERROR_MESSAGE();

        SELECT 
            @IsSuccess AS IsSuccess,
            @Message AS [Message],
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_LINE() AS ErrorLine,
            ERROR_PROCEDURE() AS ErrorProcedure;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddWorkEntry]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*********************************************************************************
    Procedure: sp_AddWorkEntry
    Author: Görkem Tok
    Description: Çalışanın belirli bir tarihteki çalışma kaydını ekler.
                 Aynı güne ait kayıt varsa tekrar eklenmez.
    Created: 2025-11-04
**********************************************************************************/
CREATE     PROCEDURE [dbo].[sp_AddWorkEntry]
    @EmployeeId INT,
    @WorkDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IsSuccess BIT;
    DECLARE @Message NVARCHAR(500);

    BEGIN TRY
        -- Çalışan var mı kontrolü
        IF NOT EXISTS (SELECT 1 FROM Employee WHERE Id = @EmployeeId)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Geçersiz çalışan bilgisi!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

		-- Çalışan tipi çalıştığı gün kaydı eklenmeyi destekliyor mu kontrolü
		IF (SELECT EmployeeTypeId FROM Employee WHERE Id = @EmployeeId) != 2
		BEGIN
			SET @IsSuccess = 0;
            SET @Message = N'Çalışan tipi çalışılan gün kaydı eklemeyi desteklememektedir!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
		END

        -- Aynı güne ait kayıt var mı?
        IF EXISTS (SELECT 1 FROM WorkEntries WHERE EmployeeId = @EmployeeId AND [Date] = @WorkDate)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Bu çalışana ait bu tarihte zaten bir çalışma kaydı mevcut!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        -- Kayıt ekleme işlemi
        INSERT INTO WorkEntries (EmployeeId, [Date])
        VALUES (@EmployeeId, @WorkDate);

        SET @IsSuccess = 1;
        SET @Message = N'Çalışma kaydı başarıyla eklendi.';
        SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
    END TRY

    BEGIN CATCH
        SET @IsSuccess = 0;
        SET @Message = N'Kayıt eklenirken hata oluştu: ' + ERROR_MESSAGE();

        SELECT 
            @IsSuccess AS IsSuccess,
            @Message AS [Message],
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_LINE() AS ErrorLine,
            ERROR_PROCEDURE() AS ErrorProcedure;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculatePayroll]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*********************************************************************************
    Procedure: sp_CalculatePayroll
    Author: Görkem Tok
    Description: Belirli bir çalışanın seçilen ay için maaş hesaplamasını yapar.
                 Hesaplama tipi, çalışanın EmployeeType’ına göre belirlenir:
                 1 - Sabit maaş
                 2 - Günlük ücret × çalışılan gün sayısı
                 3 - Sabit maaş + (Fazla mesai saati × fazla mesai ücreti)
**********************************************************************************/
CREATE       PROCEDURE [dbo].[sp_CalculatePayroll]
    @EmployeeId INT,
    @DateOfMonth DATE
AS
BEGIN
    SET NOCOUNT ON; 

    DECLARE @IsSuccess BIT;
    DECLARE @Message NVARCHAR(500);

    BEGIN TRY
        -- Çalışan var mı kontrolü
        IF NOT EXISTS (SELECT 1 FROM Employee WHERE Id = @EmployeeId)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Çalışan bulunamadı!';
            SELECT @IsSuccess AS IsSuccess, @Message AS Message;
            RETURN;
        END

        DECLARE @EmployeeTypeId INT; 
        DECLARE @FirstName NVARCHAR(150);
        DECLARE @LastName NVARCHAR(150);
        DECLARE @IdentityNumber NVARCHAR(11);
        DECLARE @EmployeeTypeName NVARCHAR(50);
        DECLARE @OvertimeHours DECIMAL(9,2) = 0;
        DECLARE @DaysWorked INT = 0;
        DECLARE @BaseSalary DECIMAL(18,2);
        DECLARE @TotalSalary DECIMAL(18,2);
        DECLARE @StartDate DATE = DATEFROMPARTS(YEAR(@DateOfMonth), MONTH(@DateOfMonth), 1);
        DECLARE @EndDate DATE = DATEADD(MONTH, 1, @StartDate);
        DECLARE @CalculateDate DATETIME = GETDATE();

        -- Çalışan bilgilerini çek
        SELECT 
            @FirstName = E.FirstName, 
            @LastName = E.LastName, 
            @BaseSalary = E.Salary,
            @IdentityNumber = CASE 
                                WHEN E.IdentityNumber IS NULL THEN 'Girilmemiş' 
                                ELSE '*******' + RIGHT(E.IdentityNumber, 4) 
                              END,
            @EmployeeTypeId = T.Id, 
            @EmployeeTypeName = T.[Name]
        FROM Employee E
        INNER JOIN EmployeeType T ON E.EmployeeTypeId = T.Id 
        WHERE E.Id = @EmployeeId;

        -- Maaş tipine göre hesaplama
        IF @EmployeeTypeId = 1   -- Sabit maaş
        BEGIN
            SET @TotalSalary = @BaseSalary;
        END

        ELSE IF @EmployeeTypeId = 2  -- Günlük ücret × çalışılan gün sayısı
        BEGIN
            SET @DaysWorked = (
                SELECT COUNT(*) 
                FROM WorkEntries WE 
                WHERE WE.EmployeeId = @EmployeeId 
                  AND WE.[Date] >= @StartDate AND WE.[Date] < @EndDate
            );
            SET @TotalSalary = @BaseSalary * @DaysWorked;
        END

        ELSE IF @EmployeeTypeId = 3  -- Sabit maaş + fazla mesai
        BEGIN
            SET @OvertimeHours = ISNULL((
                SELECT SUM(OE.[Hours]) 
                FROM OvertimeEntries OE 
                WHERE OE.EmployeeId = @EmployeeId 
                  AND OE.[Date] >= @StartDate AND OE.[Date] < @EndDate
            ), 0);

            SET @TotalSalary = @BaseSalary + (@OvertimeHours * (@BaseSalary / (30 * 8) * 1.5));
        END

        ELSE
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Bu çalışan tipi için hesaplama formülü bulunamadı!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        -- Başarılı sonuç
        SET @IsSuccess = 1;
        SET @Message = N'Maaş hesaplaması başarıyla tamamlandı.';

        SELECT 
            @IsSuccess AS IsSuccess,
            @Message AS [Message],
            @EmployeeId AS EmployeeId,
            @FirstName AS FirstName,
            @LastName AS LastName,
            @IdentityNumber AS IdentityNumber,
            @EmployeeTypeName AS EmployeeTypeName,
            @DaysWorked AS DaysWorked,
            @OvertimeHours AS OvertimeHours,
            @BaseSalary AS BaseSalary,
            @TotalSalary AS TotalSalary,
            @CalculateDate AS CalculateDate;
    END TRY

    BEGIN CATCH
        SET @IsSuccess = 0;
        SET @Message = N'Hesaplama sırasında hata oluştu: ' + ERROR_MESSAGE();

        SELECT 
            @IsSuccess AS IsSuccess,
            @Message AS [Message],
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_LINE() AS ErrorLine,
            ERROR_PROCEDURE() AS ErrorProcedure;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateEmployee]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*********************************************************************************
    Procedure: sp_CreateEmployee
    Author: Görkem Tok
    Description: Çalışan kaydını oluşturur. 
				 TC kimlik numarası benzersiz olmalıdır.
    Created: 2025-11-04
**********************************************************************************/
CREATE   PROCEDURE [dbo].[sp_CreateEmployee]
    @FirstName NVARCHAR(150),
    @LastName NVARCHAR(150),
    @IdentityNumber NVARCHAR(11),
    @EmployeeTypeId INT,
    @Salary DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON; 

    DECLARE @IsSuccess BIT;
    DECLARE @Message NVARCHAR(500);
    DECLARE @EmployeeId INT;

    BEGIN TRY

        -- Aynı kimlik numarasına sahip çalışan var mı?
        IF EXISTS (SELECT 1 FROM Employee WHERE IdentityNumber = @IdentityNumber)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Bu kimlik numarasıyla bir çalışan zaten mevcut!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message], NULL AS EmployeeId;
            RETURN;
        END

        -- Geçersiz EmployeeType kontrolü
        IF NOT EXISTS (SELECT 1 FROM EmployeeType WHERE Id = @EmployeeTypeId)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Geçersiz çalışan tip bilgisi!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message], NULL AS EmployeeId;
            RETURN;
        END

        -- Maaş kontrolü
        IF @Salary <= 0
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Maaş bilgisi sıfırdan büyük olmalıdır!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message], NULL AS EmployeeId;
            RETURN;
        END

        -- Çalışan kaydını oluştur
        INSERT INTO Employee (FirstName, LastName, IdentityNumber, EmployeeTypeId, Salary, CreatedAt)
        VALUES (@FirstName, @LastName, @IdentityNumber, @EmployeeTypeId, @Salary, GETDATE());

        SET @EmployeeId = SCOPE_IDENTITY();
        SET @IsSuccess = 1;
        SET @Message = N'Çalışan kaydı başarıyla oluşturuldu.';

        SELECT 
            @IsSuccess AS IsSuccess, 
            @Message AS [Message], 
            @EmployeeId AS EmployeeId;

    END TRY

    BEGIN CATCH
        SET @IsSuccess = 0;
        SET @Message = N'Kayıt oluşturma sırasında hata oluştu: ' + ERROR_MESSAGE();

        SELECT 
            @IsSuccess AS IsSuccess,
            @Message AS [Message],
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_LINE() AS ErrorLine,
            ERROR_PROCEDURE() AS ErrorProcedure;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteOvertimeEntry]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************************
    Procedure: sp_GetEmployeeDetail
    Author: Görkem Tok
    Description: Fazla mesai kaydını siler.
    Created: 2025-11-04
**********************************************************************************/

CREATE     PROCEDURE [dbo].[sp_DeleteOvertimeEntry]
    @OvertimeId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IsSuccess BIT;
    DECLARE @Message NVARCHAR(500);

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM OvertimeEntries WHERE Id = @OvertimeId)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Silinecek fazla mesai kaydı bulunamadı!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        DELETE FROM OvertimeEntries WHERE Id = @OvertimeId;

        SET @IsSuccess = 1;
        SET @Message = N'Fazla mesai kaydı başarıyla silindi.';
        SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
    END TRY

    BEGIN CATCH
        SET @IsSuccess = 0;
        SET @Message = N'Silme işlemi sırasında hata oluştu: ' + ERROR_MESSAGE();
        SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteWorkEntry]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*********************************************************************************
    Procedure: sp_DeleteWorkEntry
    Author: Görkem Tok
    Description: Çalışılan güne ait kaydı siler.
    Created: 2025-11-04
**********************************************************************************/

CREATE     PROCEDURE [dbo].[sp_DeleteWorkEntry]
    @WorkEntryId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IsSuccess BIT;
    DECLARE @Message NVARCHAR(500);

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM WorkEntries WHERE Id = @WorkEntryId)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Silinecek çalışma kaydı bulunamadı!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        DELETE FROM WorkEntries WHERE Id = @WorkEntryId;

        SET @IsSuccess = 1;
        SET @Message = N'Çalışma kaydı başarıyla silindi.';
        SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
    END TRY

    BEGIN CATCH
        SET @IsSuccess = 0;
        SET @Message = N'Silme işlemi sırasında hata oluştu: ' + ERROR_MESSAGE();
        SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeDetail]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*********************************************************************************
    Procedure: sp_GetEmployeeDetail
    Author: Görkem Tok
    Description: Çalışanın bilgilerini getirir.
    Created: 2025-11-04
**********************************************************************************/

CREATE     PROCEDURE [dbo].[sp_GetEmployeeDetail]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        E.Id AS EmployeeId,
        E.FirstName,
        E.LastName,
        (CASE WHEN E.IdentityNumber IS NULL THEN 'Girilmemiş' 
                                ELSE '*******' + RIGHT(E.IdentityNumber, 4) 
                              END) AS IdentityNumber,
        E.Salary,
        T.Name AS EmployeeType,
        E.CreatedAt,
        E.UpdatedAt
    FROM Employee E
    INNER JOIN EmployeeType T ON E.EmployeeTypeId = T.Id
    WHERE E.Id = @EmployeeId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeesPaged]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*********************************************************************************
    Procedure: sp_GetEmployeesPaged
    Author: Görkem Tok
    Description: Çalışan bilgilerini sayfalama yaparak getirir.
    Created: 2025-11-04
**********************************************************************************/

CREATE     PROCEDURE [dbo].[sp_GetEmployeesPaged]
    @PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    SELECT 
        E.Id AS EmployeeId,
        E.FirstName,
        E.LastName,
         (CASE WHEN E.IdentityNumber IS NULL THEN 'Girilmemiş' 
                                ELSE '*******' + RIGHT(E.IdentityNumber, 4) 
                              END) AS IdentityNumber,
        T.Name AS EmployeeType,
        E.Salary,
        E.CreatedAt,
        E.UpdatedAt
    FROM Employee E
    INNER JOIN EmployeeType T ON E.EmployeeTypeId = T.Id
    ORDER BY E.CreatedAt DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPayrollReport]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************************
    Procedure: sp_GetPayrollReport
    Author: Görkem Tok
    Description: Aylık olarak çalışanların maaş bilgilerini hesaplar.
    Created: 2025-11-04
**********************************************************************************/


CREATE     PROCEDURE [dbo].[sp_GetPayrollReport]
    @DateOfMonth DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartDate DATE = DATEFROMPARTS(YEAR(@DateOfMonth), MONTH(@DateOfMonth), 1);
    DECLARE @EndDate DATE = DATEADD(MONTH, 1, @StartDate);

    SELECT 
        E.Id AS EmployeeId,
        E.FirstName,
        E.LastName,
        T.Name AS EmployeeType,
        E.Salary AS BaseSalary,
        -- Günlük çalışanların çalıştığı gün sayısı
        (SELECT COUNT(*) FROM WorkEntries WE WHERE WE.EmployeeId = E.Id AND WE.[Date] >= @StartDate AND WE.[Date] < @EndDate) AS DaysWorked,
        -- Fazla mesai saatleri
        ISNULL((SELECT SUM(OE.[Hours]) FROM OvertimeEntries OE WHERE OE.EmployeeId = E.Id AND OE.[Date] >= @StartDate AND OE.[Date] < @EndDate), 0) AS OvertimeHours,
        -- Hesaplanan maaş
        CASE 
            WHEN T.Id = 1 THEN E.Salary
            WHEN T.Id = 2 THEN E.Salary * (SELECT COUNT(*) FROM WorkEntries WE WHERE WE.EmployeeId = E.Id AND WE.[Date] >= @StartDate AND WE.[Date] < @EndDate)
            WHEN T.Id = 3 THEN E.Salary + (ISNULL((SELECT SUM(OE.[Hours]) FROM OvertimeEntries OE WHERE OE.EmployeeId = E.Id AND OE.[Date] >= @StartDate AND OE.[Date] < @EndDate), 0) * (E.Salary / (30 * 8) * 1.5))
        END AS TotalSalary
    FROM Employee E
    INNER JOIN EmployeeType T ON E.EmployeeTypeId = T.Id
    ORDER BY E.FirstName, E.LastName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OvertimeHistory]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************************
    Procedure: sp_OvertimeHistoryForEmployee
    Author: Görkem Tok
    Description:
        Belirli bir çalışanın, seçilen ay içerisindeki fazla mesai kayıtlarını listeler.
        Ay bilgisi @DateOfMonth parametresinden alınır ve bu parametreye göre
        başlangıç (ay başı) ve bitiş (bir sonraki ayın ilk günü) tarihleri hesaplanır.
        Ardından OvertimeEntries tablosundan belirtilen aralıktaki kayıtlar döndürülür
**********************************************************************************/

CREATE   PROCEDURE [dbo].[sp_OvertimeHistory]
    @EmployeeId INT,
    @DateOfMonth DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Verilen tarihe göre ayın ilk ve son tarihlerini hesapla
    DECLARE @StartDate DATE = DATEFROMPARTS(YEAR(@DateOfMonth), MONTH(@DateOfMonth), 1);
    DECLARE @EndDate DATE = DATEADD(MONTH, 1, @StartDate);

    -- Çalışanın ilgili ay içerisindeki fazla mesai kayıtlarını listele
    SELECT 
        OE.Id AS 'OvertimeEntryId', 
        OE.Date AS 'WorkDate', 
        OE.[Hours]
    FROM 
        OvertimeEntries OE
    WHERE 
        OE.EmployeeId = @EmployeeId
        AND OE.[Date] >= @StartDate 
        AND OE.[Date] < @EndDate
    ORDER BY 
        OE.[Date] ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OvertimeSummary]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************************
    Procedure: sp_OvertimeSummary
    Author: Görkem Tok
    Description:
        Belirli bir aya ait tüm çalışanların fazla mesai özetini döndürür.
        Her çalışan için:
          - İlk fazla mesai kaydı tarihi,
          - Son fazla mesai kaydı tarihi,
          - Toplam fazla mesai süresi (saat bazında)
        bilgilerini içerir.
**********************************************************************************/

CREATE   PROCEDURE [dbo].[sp_OvertimeSummary]
    @DateOfMonth DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- 🔹 İlgili ayın başlangıç ve bitiş tarihlerini belirle
    DECLARE @StartDate DATE = DATEFROMPARTS(YEAR(@DateOfMonth), MONTH(@DateOfMonth), 1);
    DECLARE @EndDate DATE = DATEADD(MONTH, 1, @StartDate);

    -- 🔹 Çalışan bazında fazla mesai özeti döndür
    SELECT 
		OE.EmployeeId,
        E.FirstName,
        E.LastName,
        E.IdentityNumber,
        MIN(OE.[Date]) AS FirstRecordDate,   -- Ay içindeki ilk fazla mesai tarihi
        MAX(OE.[Date]) AS LastRecordDate,    -- Ay içindeki son fazla mesai tarihi
        SUM(OE.Hours) AS TotalHours          -- Toplam fazla mesai saati
    FROM 
        OvertimeEntries OE
        INNER JOIN Employee E ON OE.EmployeeId = E.Id
    WHERE 
        OE.[Date] >= @StartDate 
        AND OE.[Date] < @EndDate
    GROUP BY
        E.FirstName, 
        E.LastName, 
        E.IdentityNumber, 
        OE.EmployeeId
    ORDER BY
        SUM(OE.Hours) DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEmployee]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************************
    Procedure: sp_UpdateEmployee
    Author: Görkem Tok
    Description: Mevcut çalışan kaydını günceller.
                 Kimlik numarası benzersiz olmalıdır ve geçerli EmployeeType kontrol edilir.
    Created: 2025-11-04
**********************************************************************************/
CREATE   PROCEDURE [dbo].[sp_UpdateEmployee]
    @EmployeeId INT,
    @FirstName NVARCHAR(150),
    @LastName NVARCHAR(150),
    @IdentityNumber NVARCHAR(11),
    @EmployeeTypeId INT,
    @Salary DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IsSuccess BIT;
    DECLARE @Message NVARCHAR(500);

    BEGIN TRY

        -- Çalışan mevcut mu kontrolü
        IF NOT EXISTS (SELECT 1 FROM Employee WHERE Id = @EmployeeId)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Güncellenecek çalışan bulunamadı!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        -- Aynı kimlik numarasına sahip başka çalışan var mı?
        IF EXISTS (SELECT 1 FROM Employee WHERE IdentityNumber = @IdentityNumber AND Id <> @EmployeeId)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Bu kimlik numarasıyla başka bir çalışan zaten mevcut!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        -- Geçersiz EmployeeType kontrolü
        IF NOT EXISTS (SELECT 1 FROM EmployeeType WHERE Id = @EmployeeTypeId)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Geçersiz çalışan tip bilgisi!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        -- Maaş kontrolü
        IF @Salary <= 0
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Maaş bilgisi sıfırdan büyük olmalıdır!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        -- Güncelleme işlemi
        UPDATE Employee
        SET 
            FirstName = @FirstName,
            LastName = @LastName,
            IdentityNumber = @IdentityNumber,
            EmployeeTypeId = @EmployeeTypeId,
            Salary = @Salary,
            UpdatedAt = GETDATE()
        WHERE Id = @EmployeeId;

        SET @IsSuccess = 1;
        SET @Message = N'Çalışan bilgileri başarıyla güncellendi.';

        SELECT 
            @IsSuccess AS IsSuccess, 
            @Message AS [Message], 
            @EmployeeId AS EmployeeId;

    END TRY

    BEGIN CATCH
        SET @IsSuccess = 0;
        SET @Message = N'Güncelleme sırasında hata oluştu: ' + ERROR_MESSAGE();

        SELECT 
            @IsSuccess AS IsSuccess,
            @Message AS [Message],
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_LINE() AS ErrorLine,
            ERROR_PROCEDURE() AS ErrorProcedure;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOvertimeEntry]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*********************************************************************************
    Procedure: sp_UpdateOvertimeEntry
    Author: Görkem Tok
    Description: Fazla mesai kaydını günceller.
                 Aynı güne ait başka kayıt varsa engellenir.
    Created: 2025-11-04
**********************************************************************************/
CREATE   PROCEDURE [dbo].[sp_UpdateOvertimeEntry]
    @OvertimeId INT,
    @EmployeeId INT,
    @WorkDate DATETIME,
    @Hours DECIMAL(9,2)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IsSuccess BIT;
    DECLARE @Message NVARCHAR(500);

    BEGIN TRY
        -- Kayıt var mı?
        IF NOT EXISTS (SELECT 1 FROM OvertimeEntries WHERE Id = @OvertimeId)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Güncellenecek fazla mesai kaydı bulunamadı!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        -- Çalışan var mı?
        IF NOT EXISTS (SELECT 1 FROM Employee WHERE Id = @EmployeeId)
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Geçersiz çalışan bilgisi!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

		-- Mesai kaydı bu çalışana ait mi ?
		IF (SELECT EmployeeId FROM OvertimeEntries WHERE Id = @OvertimeId) != @EmployeeId
		BEGIN
			SET @IsSuccess = 0;
            SET @Message = N'Çalışan kaydı ile mesai kaydı bilgisi eşleşmemektedir!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
		END

        -- Aynı güne ait başka mesai kaydı var mı?
        IF EXISTS (
            SELECT 1 
            FROM OvertimeEntries 
            WHERE EmployeeId = @EmployeeId 
              AND CAST([Date] AS DATE) = CAST(@WorkDate AS DATE)
              AND Id <> @OvertimeId
        )
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Bu çalışana ait bu tarihte zaten başka bir mesai kaydı mevcut!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        -- Saat kontrolü
        IF @Hours <= 0
        BEGIN
            SET @IsSuccess = 0;
            SET @Message = N'Fazla mesai saati sıfırdan büyük olmalıdır!';
            SELECT @IsSuccess AS IsSuccess, @Message AS [Message];
            RETURN;
        END

        -- Güncelleme işlemi
        UPDATE OvertimeEntries
        SET 
            EmployeeId = @EmployeeId,
            [Date] = @WorkDate,
            Hours = @Hours
        WHERE Id = @OvertimeId;

        SET @IsSuccess = 1;
        SET @Message = N'Fazla mesai kaydı başarıyla güncellendi.';
        SELECT @IsSuccess AS IsSuccess, @Message AS [Message], @OvertimeId AS OvertimeId;

    END TRY

    BEGIN CATCH
        SET @IsSuccess = 0;
        SET @Message = N'Güncelleme sırasında hata oluştu: ' + ERROR_MESSAGE();

        SELECT 
            @IsSuccess AS IsSuccess,
            @Message AS [Message],
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_LINE() AS ErrorLine,
            ERROR_PROCEDURE() AS ErrorProcedure;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_WorkEntriesHistory]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*********************************************************************************
    Procedure: sp_WorkEntriesHistory
    Author: Görkem Tok
    Description:
        Belirli bir çalışanın, seçilen ay içerisindeki tüm çalışma kayıtlarını döndürür.
        Her kayıt, ilgili günün tarihini içerir. Bu prosedür tipik olarak
        "çalışma geçmişi" (work history) ekranları veya raporları için kullanılır.
**********************************************************************************/

CREATE   PROCEDURE [dbo].[sp_WorkEntriesHistory]
    @DateOfMonth DATETIME,
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Ayın başlangıç ve bitiş tarihlerini belirle
    DECLARE @StartDate DATE = DATEFROMPARTS(YEAR(@DateOfMonth), MONTH(@DateOfMonth), 1);
    DECLARE @EndDate DATE = DATEADD(MONTH, 1, @StartDate);

    -- Çalışanın belirtilen ay içerisindeki tüm çalışma kayıtlarını getir
    SELECT 
        Id AS WorkEntryId,
        [Date] AS WorkDate
    FROM 
        WorkEntries 
    WHERE 
        EmployeeId = @EmployeeId 
        AND [Date] >= @StartDate 
        AND [Date] < @EndDate
    ORDER BY 
        [Date] ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_WorkEntriesSummary]    Script Date: 11/6/2025 5:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*********************************************************************************
    Procedure: sp_WorkEntriesSummary
    Author: Görkem Tok
    Description:
        Belirli bir aya ait tüm çalışanların çalışma günlerini özetler.
        Her çalışan için:
          - İlk çalışma günü tarihi,
          - Son çalışma günü tarihi,
          - Toplam çalışma günü sayısı
        bilgilerini döndürür.
**********************************************************************************/

CREATE   PROCEDURE [dbo].[sp_WorkEntriesSummary]
    @DateOfMonth DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    -- İlgili ayın başlangıç ve bitiş tarihlerini hesapla
    DECLARE @StartDate DATE = DATEFROMPARTS(YEAR(@DateOfMonth), MONTH(@DateOfMonth), 1);
    DECLARE @EndDate DATE = DATEADD(MONTH, 1, @StartDate);

    -- Çalışan bazında ay içindeki çalışma günlerinin özetini döndür
    SELECT 
        WE.EmployeeId,
        E.FirstName,
        E.LastName,
        E.IdentityNumber,
        MIN(WE.[Date]) AS FirstRecordDate,     -- Ay içindeki ilk çalışma günü
        MAX(WE.[Date]) AS LastRecordDate,      -- Ay içindeki son çalışma günü
        COUNT(*) AS TotalWorkDaysCount         -- Toplam çalışma günü sayısı
    FROM 
        WorkEntries WE
        INNER JOIN Employee E ON WE.EmployeeId = E.Id
    WHERE 
        WE.[Date] >= @StartDate 
        AND WE.[Date] < @EndDate
    GROUP BY 
        WE.EmployeeId, E.FirstName, E.LastName, E.IdentityNumber
    ORDER BY 
        E.FirstName, E.LastName;
END
GO
